:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.336);
  background-color: #04092b;

}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

h4 {
  margin-bottom: 5px;
  font-size: 18px;
}

input {
  padding: 10px 20px;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background: rgba(255, 255, 255, 0.781);
}

select {
  padding: 10px 60px;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background: rgba(255, 255, 255, 0.781);
}

textarea {
  width: 300px;
  height: 100px;
  border-radius: 8px;
  border: 3px solid yellowgreen;
  background: rgba(255, 255, 255, 0.781);
  padding: 10px;
}


input:hover {
  border: 3px solid rgb(91, 179, 219);
}

select:hover {
  border: 3px solid rgb(91, 179, 219);
}

textarea:hover {
  border: 3px solid rgb(91, 179, 219);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 8px;
  background-color: yellowgreen;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(91, 179, 219);
}